:root {
    --primary-clr: #00235B;
    --secondary-clr: #e62929;
    --text-clr: var(--primary-clr);
    --accent-clr: #ffffff;
    
}
body, main {
    display: grid;
}
body {
    margin: 0;
    min-height: 100vh;
    grid-template-rows: 100px 3fr .1fr;
}

header {
    padding: 1rem;
    background-color: var(--primary-clr);
}
main {
    grid-template-columns: .5fr 1fr;
    background-color: var(--secondary-clr);
}

footer, nav, a {
    display: flex;
    justify-content: center;

}
footer {
    background-color: var(--primary-clr);
}
nav {
    height: 100%;
    align-items: center;
    gap: 2rem;
}

a {
    border-radius: 5px;
    width: 7rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--accent-clr);
    color: #00235B;
    text-decoration: none;
}
a:hover {
    background-color: var(--secondary-clr);
}

img {
    height: 100%;
    width: 100%;
}





