/* Giving bugs with space need to change them fonts */
@font-face {
    font-family: 'BrandFont';
    src: url('./font/DancingScript-VariableFont_wght.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'BodyFont';
    src: url('./font/Martel-Regular.ttf');
    font-size: 1rem;
}

:root {
    --primary-clr: rgb(0, 35, 91);
    --secondary-clr: #ffffff;
    --accent-clr: #ff5858;
    --text-clr: var(--primary-clr);
    --shade-clr: rgb(0, 22, 58);
}
html {
    height: 100%;
}
body, .home {
    display: grid;
}
body {
    color: var(--shade-clr);
    font-family: 'BodyFont';
    background-color: var(--primary-clr);
    margin: 0;
    min-height: 100vh;
    grid-template-rows: 50px auto 25px;
}

header {
    padding-left: 1%;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 3rem;
    height: fit-content;
    margin: 0;
    color: var(--secondary-clr);
    font-family: 'BrandFont';
}

nav {
    flex:1;
    height: 100%;
    display: flex;
    justify-content: center;
}

.home {
    grid-template-columns: .5fr 1fr;
    background-color: var(--secondary-clr);
}
.title {
    line-height: 1.2;
    width: min-content;
    margin: 25% auto;
    font-size: 7rem;

}

footer {
    display: flex;
    color: var(--secondary-clr)
}
footer >h6 {
    margin:auto;
}
footer > h6 > a {
    color:var(--secondary-clr);
}

.navItem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 4rem;
    font-size: 1rem;
    padding: 1rem;
    color: var(--secondary-clr);
    text-decoration: none;
}
.navItem:hover {
    background-color: var(--shade-clr);
}

img {
    height: 100%;
    width: 100%;
}
.border {
    border-radius: 5px;
}
.box-shadow {
    box-shadow: 0px 3px 12px var(--primary-clr);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 90%;
    background-color: var(--secondary-clr);
    height: 75%;
}




